html {
  background: repeating-linear-gradient(-45deg, #d4fdff, #d4fdff 10px, #c9fcff 10px, #c9fcff 20px);
}

body {
  font-family: "Fredoka One", sans-serif;
  border-top: 1em #b3fbff solid;
  border-bottom: 1em #b3fbff solid;
  color: #c09;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
  text-shadow: 1px 1px #c09;
}

p {
  transform: rotate(-5deg);
  max-width: 19em;
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
}
